In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345) 
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6)) 
PREVIOUS_MAX_ROWS = pd.options.display.max_rows 
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

In [2]:
# Date and Time Data Types and Tools
from datetime import datetime 
now = datetime.now() 
now 
now.year, now.month, now.day

(2022, 9, 14)

In [3]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15) 
delta 
delta.days 
delta.seconds

56700

In [4]:
from datetime import timedelta 
start = datetime(2011, 1, 7) 
start + timedelta(12) 
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [5]:
# Converting Between String and Datetime 
stamp = datetime(2011, 1, 3) 
str(stamp) 
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [6]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d') 
datestrs = ['7/6/2011', '8/6/2011'] 
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [7]:
from dateutil.parser import parse 
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [8]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [9]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [10]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00'] 
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [11]:
idx = pd.to_datetime(datestrs + [None]) 
idx 
idx[2] 
pd.isnull(idx)

array([False, False,  True])

In [12]:
# Time Series Basics 
from datetime import datetime 
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), 
 datetime(2011, 1, 7), datetime(2011, 1, 8), 
 datetime(2011, 1, 10), datetime(2011, 1, 12)] 
ts = pd.Series(np.random.randn(6), index=dates) 
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [13]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [14]:
ts + ts[::2]

2011-01-02   -0.409415
2011-01-05         NaN
2011-01-07   -1.038877
2011-01-08         NaN
2011-01-10    3.931561
2011-01-12         NaN
dtype: float64

In [15]:
ts.index.dtype

dtype('<M8[ns]')

In [16]:
stamp = ts.index[0] 
stamp

Timestamp('2011-01-02 00:00:00')

In [17]:
# Indexing, Selection, Subsetting 
stamp = ts.index[2] 
ts[stamp]

-0.5194387150567381

In [18]:
ts['1/10/2011'] 
ts['20110110']

1.9657805725027142

In [19]:
longer_ts = pd.Series(np.random.randn(1000), 
 index=pd.date_range('1/1/2000', periods=1000)) 
longer_ts 
longer_ts['2001']

2001-01-01    1.599534
2001-01-02    0.474071
2001-01-03    0.151326
2001-01-04   -0.542173
2001-01-05   -0.475496
                ...
2001-12-27    0.057874
2001-12-28   -0.433739
2001-12-29    0.092698
2001-12-30   -1.397820
2001-12-31    1.457823
Freq: D, Length: 365, dtype: float64

In [20]:
longer_ts['2001-05']

2001-05-01   -0.622547
2001-05-02    0.936289
2001-05-03    0.750018
2001-05-04   -0.056715
2001-05-05    2.300675
                ...
2001-05-27    0.235477
2001-05-28    0.111835
2001-05-29   -1.251504
2001-05-30   -2.949343
2001-05-31    0.634634
Freq: D, Length: 31, dtype: float64

In [21]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [22]:
ts 
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
dtype: float64

In [23]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
dtype: float64

In [24]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED') 
long_df = pd.DataFrame(np.random.randn(100, 4), 
 index=dates, 
 columns=['Colorado', 'Texas', 
 'New York', 'Ohio']) 
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.006045  0.490094 -0.277186 -0.707213
2001-05-09 -0.560107  2.735527  0.927335  1.513906
2001-05-16  0.538600  1.273768  0.667876 -0.969206
2001-05-23  1.676091 -0.817649  0.050188  1.951312
2001-05-30  3.260383  0.963301  1.201206 -1.852001

In [25]:
# Time Series with Duplicate Indices
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', 
 '1/2/2000', '1/3/2000']) 
dup_ts = pd.Series(np.arange(5), index=dates) 
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [26]:
dup_ts.index.is_unique

False

In [27]:
dup_ts['1/3/2000'] # not duplicated
dup_ts['1/2/2000'] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [28]:
grouped = dup_ts.groupby(level=0) 
grouped.mean() 
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [29]:
# Date Ranges, Frequencies, and Shifting 
ts 
resampler = ts.resample('D')

In [30]:
# Generating Date Ranges 
index = pd.date_range('2012-04-01', '2012-06-01') 
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [31]:
pd.date_range(start='2012-04-01', periods=20) 
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [32]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [33]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [34]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [35]:
# Frequencies and Date Offsets 
from pandas.tseries.offsets import Hour, Minute 
hour = Hour() 
hour

In [36]:
four_hours = Hour(4) 
four_hours

In [37]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [38]:
Hour(2) + Minute(30)

In [39]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [40]:
# Week of month dates 
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI') 
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [41]:
#Periods and Period Arithmetic 
 
p = pd.Period(2007, freq='A-DEC') 
p

Period('2007', 'A-DEC')

In [42]:
p + 5
p - 2

Period('2005', 'A-DEC')

In [43]:
pd.Period('2014', freq='A-DEC') - p

In [44]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M') 
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [45]:
    
pd.Series(np.random.randn(6), index=rng)

2000-01   -0.066748
2000-02    0.838639
2000-03   -0.117388
2000-04   -0.517795
2000-05   -0.116696
2000-06    2.389645
Freq: M, dtype: float64

In [46]:
values = ['2001Q3', '2002Q2', '2003Q1'] 
index = pd.PeriodIndex(values, freq='Q-DEC') 
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

In [47]:
#Period Frequency Conversion 

p = pd.Period('2007', freq='A-DEC') 
p 
p.asfreq('M', how='start') 
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [48]:
p = pd.Period('2007', freq='A-JUN') 
p 
p.asfreq('M', 'start') 
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [49]:
p = pd.Period('Aug-2007', 'M') 
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [50]:
rng = pd.period_range('2006', '2009', freq='A-DEC') 
ts = pd.Series(np.random.randn(len(rng)), index=rng) 
ts 
ts.asfreq('M', how='start')

2006-01   -0.932454
2007-01   -0.229331
2008-01   -1.140330
2009-01    0.439920
Freq: M, dtype: float64

In [51]:
ts.asfreq('B', how='end')

2006-12-29   -0.932454
2007-12-31   -0.229331
2008-12-31   -1.140330
2009-12-31    0.439920
Freq: B, dtype: float64

In [52]:
# Quarterly Period Frequencies 
p = pd.Period('2012Q4', freq='Q-JAN') 
p

Period('2012Q4', 'Q-JAN')

In [53]:
p.asfreq('D', 'start') 
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [54]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm 
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [55]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN') 
ts = pd.Series(np.arange(len(rng)), index=rng) 
ts 
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp() 
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

In [56]:
# Converting Timestamps to Periods (and Back) 
rng = pd.date_range('2000-01-01', periods=3, freq='M') 
ts = pd.Series(np.random.randn(3), index=rng) 
ts 
pts = ts.to_period() 
pts

2000-01   -0.823758
2000-02   -0.520930
2000-03    0.350282
Freq: M, dtype: float64

In [57]:
rng = pd.date_range('1/29/2000', periods=6, freq='D') 
ts2 = pd.Series(np.random.randn(6), index=rng) 
ts2 
ts2.to_period('M')

2000-01    0.204395
2000-01    0.133445
2000-01    0.327905
2000-02    0.072153
2000-02    0.131678
2000-02   -1.297459
Freq: M, dtype: float64

In [58]:
pts = ts2.to_period() 
pts 
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    0.204395
2000-01-30 23:59:59.999999999    0.133445
2000-01-31 23:59:59.999999999    0.327905
2000-02-01 23:59:59.999999999    0.072153
2000-02-02 23:59:59.999999999    0.131678
2000-02-03 23:59:59.999999999   -1.297459
Freq: D, dtype: float64

In [59]:
# Creating a PeriodIndex from Arrays 
data = pd.read_csv('macrodata.csv') 
data.head(5) 
data.year 
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
      ...
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [60]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, 
 freq='Q-DEC') 
index 
data.index = index 
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

In [61]:
#Resampling and Frequency Conversion 

rng = pd.date_range('2000-01-01', periods=100, freq='D') 
ts = pd.Series(np.random.randn(len(rng)), index=rng) 
ts 
ts.resample('M').mean() 
ts.resample('M', kind='period').mean()

2000-01   -0.018091
2000-02    0.121897
2000-03   -0.057495
2000-04   -0.061387
Freq: M, dtype: float64

In [62]:
#Downsampling  
rng = pd.date_range('2000-01-01', periods=12, freq='T') 
ts = pd.Series(np.arange(12), index=rng) 
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [63]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [64]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [65]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [66]:
ts.resample('5min', closed='right', 
 label='right', loffset='-1s').sum()

C:\Users\Hariprasath\AppData\Local\Temp\ipykernel_29152\3347408041.py:1: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  ts.resample('5min', closed='right',

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

In [67]:
# Open-High-Low-Close (OHLC) resampling 
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [68]:
# Upsampling and Interpolation 
frame = pd.DataFrame(np.random.randn(2, 4), 
 index=pd.date_range('1/1/2000', periods=2, 
 freq='W-WED'), 
 columns=['Colorado', 'Texas', 'New York', 'Ohio']) 
frame

            Colorado     Texas  New York      Ohio
2000-01-05 -0.601544  0.574265 -0.194115  0.202225
2000-01-12 -0.505124  2.954439 -2.630247 -0.352453

In [69]:
df_daily = frame.resample('D').asfreq() 
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05 -0.601544  0.574265 -0.194115  0.202225
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.505124  2.954439 -2.630247 -0.352453

In [70]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.601544  0.574265 -0.194115  0.202225
2000-01-06 -0.601544  0.574265 -0.194115  0.202225
2000-01-07 -0.601544  0.574265 -0.194115  0.202225
2000-01-08 -0.601544  0.574265 -0.194115  0.202225
2000-01-09 -0.601544  0.574265 -0.194115  0.202225
2000-01-10 -0.601544  0.574265 -0.194115  0.202225
2000-01-11 -0.601544  0.574265 -0.194115  0.202225
2000-01-12 -0.505124  2.954439 -2.630247 -0.352453

In [71]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05 -0.601544  0.574265 -0.194115  0.202225
2000-01-06 -0.601544  0.574265 -0.194115  0.202225
2000-01-07 -0.601544  0.574265 -0.194115  0.202225
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.505124  2.954439 -2.630247 -0.352453

In [72]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06 -0.601544  0.574265 -0.194115  0.202225
2000-01-13 -0.505124  2.954439 -2.630247 -0.352453

In [73]:
# Resampling with Periods 
frame = pd.DataFrame(np.random.randn(24, 4), 
 index=pd.period_range('1-2000', '12-2001', 
 freq='M'), 
 columns=['Colorado', 'Texas', 'New York', 'Ohio']) 
frame[:5] 
annual_frame = frame.resample('A-DEC').mean() 
annual_frame

      Colorado     Texas  New York      Ohio
2000 -0.021043  0.595582  0.512913 -0.196571
2001  0.626253  0.113605 -0.041481 -0.375351

In [74]:
# Q-DEC: Quarterly, year ending in December
annual_frame.resample('Q-DEC').ffill() 
annual_frame.resample('Q-DEC', convention='end').ffill()

        Colorado     Texas  New York      Ohio
2000Q4 -0.021043  0.595582  0.512913 -0.196571
2001Q1 -0.021043  0.595582  0.512913 -0.196571
2001Q2 -0.021043  0.595582  0.512913 -0.196571
2001Q3 -0.021043  0.595582  0.512913 -0.196571
2001Q4  0.626253  0.113605 -0.041481 -0.375351

In [75]:
annual_frame.resample('Q-MAR').ffill()

        Colorado     Texas  New York      Ohio
2000Q4 -0.021043  0.595582  0.512913 -0.196571
2001Q1 -0.021043  0.595582  0.512913 -0.196571
2001Q2 -0.021043  0.595582  0.512913 -0.196571
2001Q3 -0.021043  0.595582  0.512913 -0.196571
2001Q4  0.626253  0.113605 -0.041481 -0.375351
2002Q1  0.626253  0.113605 -0.041481 -0.375351
2002Q2  0.626253  0.113605 -0.041481 -0.375351
2002Q3  0.626253  0.113605 -0.041481 -0.375351